    $font-baloo:"Baloo Thambi 2", cursive;
    $font-raleway:"Raleway", cursive;
    $font-rubik:"Rubik", cursive;
    $color-primary: #460d0d;
    $color-second: #000000;
    $color-red: #d60b0b;